/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-titulos: "Montserrat", sans-serif;
    --font-subtitulos: "Poppins", sans-serif;
    --font-textos: "Montserrat Alternates", sans-serif;
    --cor--sidebar: #111827;
    --cor-azul-escuro: #012340;
    --cor-azul-medio: #164773;
    --cor-azul-claro: #4681A6;
    --cor-fundo-input: #F2F2F2;
    --cor-verde: #8AB4A1;
    --cor-cinza: #D9D9D9;
    --cor-cinza-escuro: #3f3f3f;
    --cor-branco: #F1F1F1;
    --cor-preto: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
    background-color: var(--cor-branco);
}

.tela {
    width: 100%;
    height: 100vh;
}

.dash {
    display: flex;
    height: 100vh;
}

/* Começa o SIDEBAR */

.barra {
    width: 220px;
    height: 100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor--sidebar);
}

.logo img {
    width: 140px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Começa o MENU */

.menu .titulo h1 {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--cor-branco);
    font-family: var(--font-titulos);
}

.botoes {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.botoes button {
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    text-align: left;
    border-radius: 8px;
    color: var(--cor-branco);
    background-color: transparent;
    font-family: var(--font-subtitulos);
}

.botoes button:hover {
    color: var(--cor-branco);
    transform: translateX(3px);
    background: var(--cor-azul-escuro);
}

/* Parte do Usuário */

.titulo-usuario {
    gap: 8px;
    display: flex;
    align-items: center;
}

.icone-user {
    font-size: 28px;
    color: var(--cor-branco);
}

.nome h1 {
    font-size: 16px;
    color: var(--cor-branco);
    font-family: var(--font-titulos);
}

.nome p {
    font-size: 12px;
    margin-left: 30px;
    color: var(--cor-cinza);
}

/* botão de sair */

.sair button {
    border: none;
    padding: 8px;
    width: 60px;
    cursor: pointer;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 6px;
    background-color: #ef4444;
    
    font-size: 14px;
    font-weight: 700;
    color: var(--cor-branco);
    font-family: var(--font-subtitulos);
}

.sair button:hover {
    background: #dc2626;
}

/* CONTEÚDO */

.conteudo {
    flex: 1;
    padding: 20px;
    height: 100vh;
    overflow-y: auto; /* scroll só aqui */
}

/* HEADER */
.tituloDash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.tituloDash h1 {
    font-size: 24px;
    color: #111827;
}

.tituloDash p {
    font-size: 13px;
    color: #6b7280;
}

#nomeUsuario {
    color: #4f46e5;
}

.tituloDash img {
    width: 90px;
}

/* CARDS */
.insights {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.cards {
    flex: 1;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
}

.cards h3 {
    font-size: 13px;
    color: #6b7280;
}

.cards h1 {
    font-size: 22px;
    margin: 8px 0;
}

.porcentagem {
    display: flex;
    align-items: center;
    gap: 5px;
}

.porcentagem img {
    width: 14px;
}

/* GRÁFICOS */
.graficos {
    display: flex;
    gap: 15px;
    height: calc(100vh - 220px); /* controla altura total */
}

/* COLUNA ESQUERDA */
.metade1 {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* COLUNA DIREITA */
.metade2 {
    flex: 1;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
}

/* GRÁFICOS BOX */
.graficoLinha,
.graficoBarra {
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.05);
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* TITULOS */
.graficoLinha h3,
.graficoBarra h3,
.metade2 h3 {
    font-size: 13px;
    margin-bottom: 8px;
}

/* CONTAINER DOS GRÁFICOS */
.chart-container {
    position: relative;
    flex: 1;
    width: 100%;
}

/* RESPONSIVO */
@media (max-width: 1024px) {
    .graficos {
        flex-direction: column;
        height: auto;
    }

    .insights {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    body {
        overflow: auto;
    }

    .barra {
        width: 200px;
    }

    .tituloDash {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .tituloDash img {
        width: 70px;
    }
}