/* Fontes importadas */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-titulos: "Montserrat", sans-serif;
    --font-textos: "Montserrat Alternates", sans-serif;
    --cor-azul-escuro: #012340;
    --cor-azul-medio: #164773;
    --cor-azul-claro: #4681A6;
    --cor-fundo-input: #F2F2F2;
    --cor-verde: #8AB4A1;
    --cor-cinza: #D9D9D9;
    --cor-cinza-escuro: #545454;
    --cor-branco: #F1F1F1;
    --cor-preto: #000000;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-branco);
    font-family: "Montserrat", sans-serif;
    font-family: "Montserrat Alternates", sans-serif;
}

.login_container {
    flex: 1;
    display: flex;
}

/* Lado esquerdo -----------------------------------------------------------------------------------------------------------------------------*/

.lado-esquerdo {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.grupo_voltar {
    gap: 12px;
    display: flex;
    margin: 20px 0 0 10px;
}

.botao_de_voltar {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    transition: 0.2s ease;
    text-decoration: none;
    justify-content: center;
    background-color: var(--cor-azul-escuro);
}

.botao_de_voltar:hover {
    background-color: var(--cor-azul-claro);
}

.seta {
    font-size: 20px;
    font-weight: bold;
    color: var(--cor-branco);
}

.voltar {
    margin-top: 6%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4%;
    color: var(--cor-azul-escuro);
    font-family: var(--font-titulos);
}

.lado-esquerdo img {
    width: 70%;
}

.triangulo_esquerda {
    position: absolute;
    left: 0;
    top: 10%;
    width: 150px;
    height: 190px;
    background-color: var(--cor-azul-claro);
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}


/* Lado direito ---------------------------------------------------------------------------------------------------------------------------- */

.lado-direito {
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cor-azul-claro);
}

.logo {
    height: 40px;
    margin-top: 2%;
    margin-left: 70%;
}

.lado-direito h1 {
    font-size: 40px;
    margin-bottom: 2px;
    color: var(--cor-branco);
    font-family: var(--font-titulos);
}

.lado-direito p {
    font-size: 16px;
    margin-bottom: 30px;
    color: var(--cor-branco);
    font-family: var(--font-textos);
}

.card-login {
    width: 370px;
    padding: 30px;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    background-color: #f2f6f84d;
}

.card-login label {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 500;
    font-family: var(--font-titulos);
    color: var(--cor-azul-escuro);
}

.card-login input {
    border: none;
    padding: 14px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #f2f2f2b6;
    border: 3px solid var(--cor-azul-escuro);
    box-shadow: 0 3px 9px rgb(0, 0, 0, 0.7);
}

.card-login button {
    color: white;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: var(--font-titulos);


    width: 100%;
    border: none;
    padding: 14px;
    cursor: pointer;
    margin-top: 25px;
    border-radius: 12px;
    transition: all 0.3s ease;
    background-color: var(--cor-azul-escuro);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.card-login button:hover {
    transform: translateY(-2px);
    background-color: var(--cor-azul-claro);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}


/* CADASTRO */

.cadastro {
    margin-top: 20px;
    color: var(--cor-branco);
    font-size: 14px;
}

.cadastro a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.triangulo_direita {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: 200px;
    height: 200px;
    background-color: var(--cor-azul-claro);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}