/* Fontes importadas */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-erro: #e74c3c;
    --cor-preto: #000000;
    --cor-verde: #8AB4A1;
    --cor-cinza: #D9D9D9;
    --cor-branco: #F1F1F1;
    --cor-sucesso: #27ae60;
    --cor--sidebar: #111827;
    --cor-azul-medio: #164773;
    --cor-azul-claro: #4681A6;
    --cor-azul-escuro: #012340;
    --cor-fundo-input: #F2F2F2;
    --cor-cinza-escuro: #3f3f3f;
    --cor-branco-puro: #FFFFFF;

    --font-titulos: "Montserrat", sans-serif;
    --font-subtitulos: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {overflow: hidden;background-color: var(--cor-branco);}
.tela {width: 100%;height: 100vh;}
.dash {display: flex;height: 100vh;}

/* Começa o SIDEBAR ________________________________________________________________________________________________________________________________________________________________________________________________*/

.barra {
    width: 230px;
    height: 100%;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor--sidebar);
}

.logo img {
    width: 140px;
    margin-top: 70px;
    margin-bottom: 8px;
}

/* Começa o MENU __________________________________________________________________________________________________________________________________________________________________________________________________*/

.menu .titulo h1 {
    font-size: 18px;
    margin-bottom: 22px;
    color: var(--cor-branco);
    font-family: var(--font-titulos);
}

.botoes {
    gap: 6px;
    display: flex;
    flex-direction: column;
}

.botoes button {
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
    text-align: left;
    border-radius: 8px;
    color: var(--cor-branco);
    background-color: transparent;
    font-family: var(--font-subtitulos);
}

.botoes button:hover {
    color: var(--cor-branco);
    transform: translateX(3px);
    background: var(--cor-azul-escuro);
}

/* Estilo para o botão ativo no menu ______________________________________________________________________________________________________________________________________________________________________________*/

.botoes button.active {
    padding-left: 16px;
    color: var(--cor-branco-puro);
    border-left: 4px solid var(--cor-azul-claro);
    background: linear-gradient(135deg, var(--cor-azul-medio), var(--cor-azul-escuro));
}

.botoes button.active:hover {transform: translateX(0);}

/* Parte do Usuário _______________________________________________________________________________________________________________________________________________________________________________________________*/

.titulo-usuario {
    gap: 8px;
    display: flex;
    align-items: center;
}

.nome h1 {
    font-size: 18px;
    margin-left: 14px;
    color: var(--cor-branco);
    font-family: var(--font-titulos);
}

.nome p {
    font-size: 16px;
    margin-left: 16px;
    color: var(--cor-cinza);
}

/* botão de sair ___________________________________________________________________________________________________________________________________________________________________________________________________*/

.sair button {
    width: 90px;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    margin-top: 70px;
    margin-left: 30px;
    border-radius: 6px;
    color: var(--cor-branco);
    background-color: #ef4444;
    font-family: var(--font-subtitulos);
}

.sair button:hover {background: #dc2626;}

/* COMEÇA O CONTEÚDO ______________________________________________________________________________________________________________________________________________________________________________________________*/

.conteudo {
    flex: 1;
    padding: 18px;
    height: 100vh;
    overflow-y: hidden;
}

.conteudo2 {
    gap: 10px;
    width: 100%;
    display: flex;
}

.painel-admin {
    flex: 1;
    padding: 20px;
    display: flex;
    margin-top: 30px;
    border-radius: 12px;
    flex-direction: column;
    background-color: var(--cor-branco-puro);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);
}

.painel-admin h1 {
    font-size: 28px;
    margin-top: 10px;
    font-family: var(--font-titulos);
}

/* MODAIS _________________________________________________________________________________________________________________________________________________________________________________________________________*/

.modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99999;
    position: fixed;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    width: 550px;
    padding: 30px;
    display: flex;
    max-width: 100%;
    max-height: 120vh;
    border-radius: 16px;
    flex-direction: column;
    animation: modalFadeIn 0.3s ease;
    background-color: var(--cor-branco-puro);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.7);
}

.modal-content.excluir {
    width: 550px;
    text-align: center;
}

.modal-content h2 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    color: var(--cor--sidebar);
    font-family: var(--font-titulos);
    border-bottom: 2px solid var(--cor--sidebar);
}

.modal-content p {
    margin: 14px 0;
    font-size: 20px;
    line-height: 1.5;
    color: var(--cor-cinza-escuro);
    font-family: var(--font-subtitulos);
}

#camposModal {
    gap: 8px;
    padding: 5px;
    display: flex;
    max-height: 60vh;
    overflow-y: auto;
    margin-bottom: 10px;
    flex-direction: column;
    color: var(--cor-cinza-escuro);
}

#camposModal::-webkit-scrollbar {
    width: 5px;
}

#camposModal::-webkit-scrollbar-track {
    border-radius: 5px;
    background: var(--cor-cinza);
}

#camposModal::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--cor--sidebar);
}

.modal-content input,
.modal-content select,
.modal-content textarea {
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 12px 15px;
    border-radius: 8px;
    transition: all 0.2s ease;
    color: var(--cor-cinza-escuro);
    border: 2px solid var(--cor-cinza);
    font-family: var(--font-subtitulos);
    background-color: var(--cor-branco-puro);
}

.modal-content input:focus,
.modal-content select:focus,
.modal-content textarea:focus {
    border-color: var(--cor--sidebar);
    box-shadow: 0 0 0 3px rgba(70, 129, 166, 0.3);
}

.modal-content input::placeholder,
.modal-content textarea::placeholder {
    font-size: 16px;
    color: var(--cor-cinza-escuro);
}

.campo-porcentagem {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.campo-porcentagem label {
    font-size: 14px;
    font-weight: 500;
    color: var(--cor--sidebar);
    font-family: var(--font-subtitulos);
}

.campo-porcentagem input[type="range"] {
    padding: 0;
    width: 100%;
    height: 6px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-appearance: none;
    background: var(--cor-cinza);
}

.campo-porcentagem input[type="range"]:focus {
    outline: none;
}

.campo-porcentagem input[type="range"]::-webkit-slider-thumb {
    width: 18px;
    border: none;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-appearance: none;
    background: var(--cor-azul-claro);
}

.campo-porcentagem input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background: var(--cor-azul-medio);
}

.campo-porcentagem output {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--cor-azul-claro);
    font-family: var(--font-titulos);
}

.botoes-modal {
    gap: 12px;
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
}

.botoes-modal button {
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.2s ease;
    font-family: var(--font-subtitulos);
}

.btn-salvar {
    color: var(--cor-branco-puro);
    background-color: var(--cor-azul-escuro);
}

.btn-salvar:hover {
    transform: translateY(-2px);
    background-color: var(--cor-azul-claro);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.btn-excluir-modal {
    color: var(--cor-branco-puro);
    background-color: var(--cor-erro);
}

.btn-excluir-modal:hover {
    transform: translateY(-2px);
    background-color: var(--cor-erro);
}

.btn-cancelar {
    color: var(--cor-branco-puro);
    background-color: var(--cor-cinza-escuro);
}

.btn-cancelar:hover {
    transform: translateY(-2px);
    background-color: var(--cor-cinza);
}

#sexoAlunoInput,
#cargoUsuarioInput,
#statusMetaInput {
    cursor: pointer;
    background-color: var(--cor-branco-puro);
}

.modal-content small {
    display: block;
    margin-top: 5px;
    font-size: 11px;
    color: var(--cor-cinza-escuro);
    font-family: var(--font-textos);
}

.modal-content.excluir .botoes-modal {
    justify-content: center;
}

.modal-content.excluir .btn-excluir-modal {
    padding: 10px 25px;
    background-color: var(--cor-erro);
}

.modal-content.excluir .btn-cancelar {
    background-color: var(--cor-cinza-escuro);
}

/* RESPONSIVIDADE DOS MODAIS _______________________________________________________________________________________________________________________________________________________________________________________*/

@media (max-width: 768px) {
    .modal-content {
        width: 95%;
        padding: 20px;
        max-height: 85vh;
    }

    .modal-content h2 {
        font-size: 20px;
    }

    #camposModal {
        max-height: 55vh;
    }

    .modal-content input,
    .modal-content select,
    .modal-content textarea {
        font-size: 13px;
        padding: 10px 12px;
    }

    .botoes-modal button {
        font-size: 13px;
        padding: 8px 16px;
    }

    .campo-porcentagem output {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .modal-content {
        padding: 15px;
    }

    .modal-content h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    #camposModal {
        gap: 10px;
    }

    .botoes-modal {
        flex-direction: column;
        gap: 8px;
    }

    .botoes-modal button {
        width: 100%;
    }

    .modal-content.excluir .botoes-modal {
        flex-direction: column;
    }
}

/* ANIMAÇÃO PARA FECHAR MODAL _____________________________________________________________________________________________________________________________________________________________________________________*/

.modal.fechando {
    animation: modalFadeOut 0.2s ease;
}

@keyframes modalFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}

.btn-add {
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 14px;
    border-radius: 6px;
    align-self: flex-end;
    margin: 10px 0 20px 0;
    color: var(--cor-branco-puro);
    font-family: var(--font-subtitulos);
    background-color: var(--cor--sidebar);
}

.tabela-admin {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.tabela-admin th {
    padding: 10px;
    font-size: 13px;
    color: var(--cor-branco-puro);
    background-color: var(--cor--sidebar);
}

.tabela-admin td {
    padding: 10px;
    font-size: 13px;
}

.tabela-admin tr:hover {
    background-color: var(--cor-branco);
}

.btn-editar {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #FF9800;
    color: var(--cor-branco-puro);
}

.btn-excluir {
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--cor-branco-puro);
    background-color: var(--cor-erro);
}

.btn-menu-mobile {
    border: none;
    display: none;
    font-size: 28px;
    cursor: pointer;
    background: none;
    color: var(--cor-branco);
}

.abas-gerenciamento {
    gap: 10px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aba-btn {
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s;
    color: var(--cor--sidebar);
    background-color: var(--cor-cinza);
}

.aba-btn:hover {background-color: #c9c9c9;}
.aba-btn.ativa {color: var(--cor-branco-puro);background-color: var(--cor--sidebar);}
.secao-tabela {display: none;}
.ativa-tabela {display: block;}
.secao-tabela {max-height: calc(100vh - 320px);overflow-y: auto;}

.tabela-admin thead th {
    top: 0;
    z-index: 1;
    position: sticky;
    background-color: var(--cor--sidebar);
}

.container-pesquisa {
    gap: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0 14px;
    max-width: 800px;
    border-radius: 14px;
    margin-bottom: 30px;
    align-items: center;
    background: var(--cor-branco-puro);
}

.barra-pesquisa-painel {
    width: 500px;
    outline: none;
    font-size: 13px;
    font-weight: 500;
    transition: 0.2s;
    padding: 8px 14px;
    border-radius: 8px;
    margin-bottom: 12px;
    color: var(--cor--sidebar);
    border: 2px solid transparent;
    background-color: var(--cor-branco);
}

.barra-pesquisa-painel::placeholder {color: var(--cor-cinza-escuro);}

.icone-pesquisa {
    margin-bottom: 10px;
    font-size: 2rem !important;
    color: var(--cor--sidebar);
}

/* ESTILOS DOS MODAIS DE ALERTAS __________________________________________________________________________________________________________________________________________________________________________________*/

.campo-invalido {border: 2px solid var(--cor-erro) !important;background-color: var(--cor-branco) !important;}

.mensagem-erro {
    display: block;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: var(--cor-erro);
}

.campo-porcentagem {margin-top: 15px;}
.modal-content {max-height: 90vh;overflow-y: auto;}

.senha-requisitos {
    padding: 10px;
    font-size: 12px;
    margin-top: 5px;
    font-weight: 600;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: var(--cor-cinza);
}

.senha-requisitos ul {margin: 5px 0;padding-left: 20px;}
.senha-requisitos li {margin: 3px 0;}
.requisito-atendido {color: var(--cor-sucesso);}
.requisito-nao-atendido {color: var(--cor-erro);}

.forca-senha {
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.forca-muito-fraca {background-color: var(--cor-erro);color: var(--cor-branco-puro);}
.forca-fraca {background-color: #e67e22;color: var(--cor-branco-puro);}
.forca-media {background-color: #f39c12;color: var(--cor-branco-puro);}
.forca-forte {background-color: var(--cor-sucesso);color: var(--cor-branco-puro);}
.forca-muito-forte {background-color: var(--cor-sucesso);color: var(--cor-branco-puro);}

/* Alert Personalizado _____________________________________________________________________________________________________________________________________________________________________________________________*/

.alerta-personalizado {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10000;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.alerta-personalizado.active {display: flex;}

.alerta-container {
    width: 500px;
    max-width: 90%;
    border-radius: 12px;
    animation: slideIn 0.3s ease;
    background: var(--cor-branco-puro);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.alerta-header {
    gap: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--cor-cinza);
}

.alerta-icone {
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.alerta-icone.success {background-color: #d4edda;color: var(--cor-sucesso);}
.alerta-icone.error {background-color: #f8d7da;color: var(--cor-erro);}
.alerta-icone.warning {background-color: #fff3cd;color: #d7b347;}
.alerta-icone.info {background-color: #d1ecf1;color: var(--cor-azul-escuro);}

.alerta-header h3 {
    margin: 0;
    font-size: 18px;
    color: var(--cor--sidebar);
    font-family: var(--font-titulos);
}

.alerta-mensagem {padding: 20px;}

.alerta-mensagem p {
    margin: 0;
    line-height: 1.5;
    color: var(--cor-cinza-escuro);
    font-family: var(--font-subtitulos);
}

.alerta-botoes {
    display: flex;
    padding: 15px 20px;
    justify-content: flex-end;
    border-top: 1px solid var(--cor-cinza);
}

.alert-btn {
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 6px;
    transition: all 0.3s;
}

.alert-btn.primary {background-color: var(--cor-azul-claro);color: var(cor-branco-puro);}
.alert-btn.primary:hover {background-color: var(--cor-azul-claro);}

/* Loader Personalizado ____________________________________________________________________________________________________________________________________________________________________________________________*/

.carregando {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10001;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.carregando.active {display: flex;}

.carregando-container {
    padding: 30px;
    min-width: 250px;
    text-align: center;
    border-radius: 12px;
    background: var(--cor-branco-puro);
}

.carregando-container p {
    margin: 0;
    font-weight: 500;
    color: var(--cor-azul-claro);
}

.carregando-container::before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    animation: spin 1s linear infinite;
    border: 4px solid var(--cor-branco);
    border-top: 4px solid var(--cor-azul-claro);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal {z-index: 9999;}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVIDADE DA PÁGINA COMPLETA ________________________________________________________________________________________________________________________________________________________________________________*/

/* Tablet ___________________________________________________________________________________________________________________________________________________________________________________________________________*/

@media (max-width: 1024px) {
    .barra {
        width: 180px;
        padding: 20px;
    }

    .conteudo {
        padding: 12px;
    }

    .painel-admin {
        padding: 15px;
    }

    .tabela-admin th,
    .tabela-admin td {
        padding: 6px;
        font-size: 12px;
    }

    .btn-add {
        font-size: 12px;
        padding: 6px 10px;
    }
}

/* Celular __________________________________________________________________________________________________________________________________________________________________________________________________________*/

@media (max-width: 768px) {
    body {
        overflow-y: auto;
    }

    #sexoAluno {
        margin-left: 60px;
    }

    .modal-content input {
        margin-left: 60px;
    }

    .dash {
        flex-direction: column;
        height: auto;
    }

    /* Sidebar vira menu superior ___________________________________________________________________________________________________________________________________________________________________________________*/
    
    .barra {
        width: 100%;
        height: auto;
        padding: 10px 20px;
        flex-direction: row;
        align-items: center;
    }

    .logo img {width: 100px;}

    .menu {
        display: none;
        /* Esconde menu lateral no mobile ____________________________________________________________________________________________________________________________________________________________________________*/
    }

    .sair {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .usuario {margin-right: auto;}

    .sair button {margin: 0;}

    .conteudo {
        height: auto;
        padding: 10px;
        overflow-y: auto;
    }

    .conteudo2 {flex-direction: column;}

    .painel-admin {
        width: 100%;
        padding: 12px;
        margin-top: 15px;
    }

    /* Tabela vira scroll horizontal _________________________________________________________________________________________________________________________________________________________________________________*/
    
    .tabela-admin {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .btn-add { width: 100%; text-align: center;}

    /* Modal responsivo _______________________________________________________________________________________________________________________________________________________________________________________________*/
    
    .modal-content {width: 90%;}
    .btn-menu-mobile {display: block;}
    .barra {flex-wrap: wrap;}

    /* Menu oculto por padrão ________________________________________________________________________________________________________________________________________________________________________________________*/
    
    .menu {
        width: 100%;
        display: none;
        margin-top: 10px;
    }

    /* Menu visível quando aberto _____________________________________________________________________________________________________________________________________________________________________________________*/
    .menu.aberto {display: block;}

    .botoes {flex-direction: column;gap: 5px;}

    .botoes button {
        width: 100%;
        text-align: left;
        background-color: var(--cor-azul-escuro);
    }
}

/* Telas muito pequenas _________________________________________________________________________________________________________________________________________________________________________________________________*/

@media (max-width: 480px) {
    .tituloDash h1 {
        font-size: 18px;
    }

    .tituloDash p {
        font-size: 12px;
    }

    .painel-admin h1 {
        font-size: 20px;
    }

    .aba-btn {
        font-size: 12px;
        padding: 8px 10px;
    }
}
